.picklists {
    width: 35%;
}

.italic {
    font-style: italic;
}

.title {
    font-size: 18px;
}

.buttonLine {
    display: flex;
    justify-content: space-between;
}

/*.headline {
    display:flex;
    justify-content: flex-end;
}*/

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}